@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap");

body {
  margin: 0;
  background-color: #000;
}

.font-500 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.font-600 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.font-800 {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
}

#left {
  height: 100vh;
  width: 55%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-shrink: 2;
  background-image: url("../images/lohp_en_1302x955.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#left img {
  inset: 0px;
  opacity: 0;
  position: absolute;
  width: fit-content;
  z-index: -1;
  order: 1;
}

#left svg {
  width: 375px;
  fill: white;
}

#right {
  height: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  padding: 4% 3% 0px 3%;
  box-sizing: border-box;
  flex-shrink: 0;
  order: 2;
}

#right svg {
  width: 50px;
  fill: white;
}

#label-large {
  font-size: 70px;
  margin: 50px 0px;
}

#label-medium {
  font-size: 36px;
  margin: 10px 0px;
}

.blue-btn {
  font-size: 15px;
  color: white;

  width: 300px;
  height: 40px;
  margin: 10px 0px 10px 0px;

  border: none;
  border-radius: 40px;

  background-color: #1d9bf0;
  cursor: pointer;
  transition: 0.3s;
}

.blue-btn:hover {
  transition: 0.3s;
  background-color: #1b74b0;
}

#signUp {
  margin: 60px 0px 10px 0px;
}

#right #caption {
  width: 300px;
  color: rgb(109, 109, 109);
  font-size: 10px;
  margin-bottom: 40px;
}

#right #caption a:-webkit-any-link {
  color: #0f8bde;
  cursor: pointer;
  text-decoration: none;
}

#right #caption a:-webkit-any-link:hover {
  text-decoration: underline;
}

#right h4 {
  font-size: 36px;
  margin: 10px 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #aaaaaa;
  background-color: rgba(9, 84, 135, 0.25);
  justify-content: space-around;
  align-items: center;
}

/* Modal Content */
.modal-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  border: none;
  border-radius: 20px;
  min-width: 600px;
  width: 600px;
  max-width: 80vw;
  min-height: 400px;
  height: fit-content;
  max-height: 90vh;
}

#create-acc,
#signIn-acc {
  padding-left: 30px;
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  width: fit-content;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#signupInput,
#signInInput {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 35px;
  position: relative;
}

.signupField {
  position: relative;
  border: 1px solid gray;
  height: fit-content;
  margin: 5px 0px;
  padding: 0px 10px;
  border-radius: 5px;
}

.signupField input {
  background: none;
  background-color: transparent;
  border: none;
  color: white;
  height: 40px;
  width: 100%;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.signupField label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
  font-size: 15px;
}

.signupField input:focus {
  outline: none;
  background-color: transparent;
}

.signupField input:focus ~ label {
  top: 0px;
  font-size: 12px;
}

.signupField:focus-within {
  border: 2px solid #1d9bf0;
}

.signupField #signupInput input,
.signInField #signInInput input {
  width: 100%;
  background-color: transparent;
}

@media only screen and (max-width: 1000px) {
  #container {
    flex-direction: column;
    justify-content: space-between;
  }

  #left {
    order: 2;
    width: 100%;
    height: 350px;
    min-height: auto;
    margin-top: 2vh;
  }

  #left svg {
    width: 300px;
  }

  #right {
    order: 1;
    width: 500px;
    height: auto;
    align-self: center;
    text-align: left;
  }
}
